<div class="app-page-title mb-5 text-center">Cập nhật người dùng</div>
<form method="post" action="/admin/user/{{user._id}}/update?_method=PUT" enctype="multipart/form-data"
  class="w-50 mx-auto">
  {{#if user}}
  <!-- Email input -->
  <div class="form-outline mb-4">
    <label class="form-label font-weight-bold" for="form4Example2">Họ và tên(*)</label>
    <input type="text" id="form4Example2" value="{{user.fullname}}" name="fullname" class="form-control" required="true"
      placeholder="Nhập họ và tên " />
  </div>
  <div class="form-outline mb-4">
    <label class="form-label font-weight-bold" for="form4Example2">Email(*)</label>
    <input type="email" id="form4Example2" value="{{user.email}}" name="email" class="form-control" required="true"
      placeholder="Nhập email " />
  </div>
  <div class="form-outline mb-4">
    <label class="form-label font-weight-bold" for="form4Example2">Mật khẩu(*)</label>
    <input type="text" id="form4Example2" value="{{user.password}}" name="password" class="form-control" readonly
      required="true" placeholder="Nhập email " />
  </div>
  <div class="form-outline mb-4">
    <label class="form-label font-weight-bold" for="customFile">Số điện thoại(*)</label>
    <input type="text" value="{{user.phone}}" name="phone" class="form-control" required="true"
      placeholder="Nhập số điện thoại " />
  </div>

  <div class="form-outline mb-4">
    <label class="form-label font-weight-bold" for="customFile">Avatar(*)</label>
    <div class="mb-2"><img src="/images/{{user.image}}" alt="{{user.image}}" class="rounded-circle list-img-admin">
    </div>
    <input type="file" id="customFile" name="image" class="form-control">
  </div>
  {{#if isAdmin}}
  <div class="form-outline mb-4">
    <label class="form-label font-weight-bold" for="customFile">Quyền</label>
    <input type="text" value="{{user.role}}" name="role" class="form-control" required="true"
      placeholder="Phân quyền" />
  </div>
  {{else}}
  <div class="form-outline mb-4">
    <label class="form-label font-weight-bold" for="customFile">Quyền</label>
    <input type="text" value="{{user.role}}" name="role" class="form-control" readonly="true" required="true"
      placeholder="Phân quyền" />
  </div>
  {{/if}}

  <div class="form-outline mb-4">
    <label class="form-label font-weight-bold" for="customFile">Địa chỉ(*)</label>
    <input type="text" value="{{user.address}}" name="address" class="form-control" required="true"
      placeholder="Nhập địa chỉ" />
  </div>
  {{/if}}
  <!-- Checkbox -->

  </div>

  <!-- Submit button -->
  <div class="col-6 col-lg-6 mx-auto">
    <button type="submit" class="btn btn-success btn-block mb-4">Cập nhật</button>
  </div>
</form>